{% load static %}
{% load extraTags %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>Perfume Ecommerce</title>

    <!-- Favicon  -->
    <link rel="icon" href="{% static 'img/core-img/favicon.ico'%}">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{% static 'css/core-style.css'%}">
    <link rel="stylesheet" href="{% static 'style.css'%}">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    

</head>

<body>
    <!-- Search Wrapper Area Start -->
    <div class="search-wrapper section-padding-100">
        <div class="search-close">
            <i class="fa fa-close" aria-hidden="true"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="search-content">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search" placeholder="Type your keyword...">
                            <button type="submit"><img src="{% static 'img/core-img/search.png'%}" alt=""></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Search Wrapper Area End -->

    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="/"><img src="{% static 'img/core-img/logo.png'%}" alt=""></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="/"><img src="img/core-img/logo.png" alt=""></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><a href="/">Главная</a></li>
                    <li><a href="/shop/1">Магазин</a></li>
                    <li><a href="/cart">Корзина ({{ cart.products.all|length }})</a></li>
                    <li><a href="/buy">Заказ</a></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="#" class="btn amado-btn mb-15">Акции</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                    <a href="/cart" class="cart-nav"><img src="{% static 'img/core-img/cart.png'%}" alt=""> Корзина ({{ cart.products.all|length }})</a>
                    <a href="#" class="fav-nav"><img src="{% static 'img/core-img/favorites.png'%}" alt=""> Популярное</a>
                    <a href="#" class="search-nav"><img src="{% static 'img/core-img/search.png'%}" alt=""> Поиск</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="/">Магазин</a></li>
                                <li class="breadcrumb-item"><a href="/shop/{{product.category.all.0.id}}">{{ product.category.all.0.title }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.title }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb" style="margin-bottom:25px;">
                            <div id="product_details_slider" class="carousel slide" data-ride="carousel">
                                    <div style="max-height: 420px;">
                                    <div class="container" style="padding:0; width: 100%;">
                                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                              <!-- Indicators -->
                                              <!-- <ol class="carousel-indicators">
                                                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                                {% for number in photoes|getQuantityRow %}
                                                    <li data-target="#myCarousel" data-slide-to="{{number}}"></li>
                                                {% endfor %}
                                              </ol> -->
                                          
                                              <!-- Wrapper for slides -->
                                              <div class="carousel-inner">
                                          
                                                <div class="item active">
                                                  <img id="{{photoes.0.title}}" src="/{{ photoes.0.photo.url }}" alt="Los Angeles" style="width:100%; object-fit: cover; height: 420px;">
                                                </div>
                    
                                                {% for banner in photoes|allButFirst %}
                                                    <div class="item">
                                                    <img id="{{banner.title}}" src="/{{ banner.photo.url }}" alt="Chicago" style="width:100%; object-fit: cover; height: 420px;">
                                                    
                                                    </div>
                                                
                                                {% endfor %}
                                              
                                                
                                            
                                              </div>
                                          
                                              <!-- Left and right controls -->
                                              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                              </a>
                                              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                              </a>
                                            </div>
                                          </div>
                                        </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price" id="price">{{ prices.all.0.price|myLocalize  }} сум</p>
                                    <h3>{{ product.title }}</h3>

                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    {% if optionMain.title|isDigit %}

                                        <div id="optionButtons" style="
                                        display: -webkit-flex; 
                                        -webkit-flex-wrap: wrap;
                                        display: flex;
                                        flex-wrap: wrap;
                                        ">
                                        <!-- <img style="border-radius: 50%; margin: 2px; border: 2px solid black; width: 40px; height: 40px;" src="/{{ optionMain.options.all.0.picture.url }}"> -->
                                        <button id="btn{{optionMain.options.all.0.id}}" onclick="changeColor('btn{{optionMain.options.all.0.id}} {{optionMain.options.all.0.title}}')" style="border-radius: 50%; margin: 2px; border: 2px solid black; width: 40px; height: 40px; background: url('/{{ optionMain.options.all.0.picture.url }}'); outline: none; cursor: pointer;" ></button>
                                        {% for option in optionMain.options.all|allButFirst %}
                                            <!-- <img style="border-radius: 50%; margin: 2px; width: 40px; height: 40px;" src="/{{ option.picture.url }}"> -->
                                            <button id="btn{{option.id}}" onclick="changeColor('btn{{option.id}} {{option.title}}')" style="border-radius: 50%; margin: 2px; border: 0;
                                            box-shadow: none;
                                            width: 40px; height: 40px; background: url('/{{ option.picture.url }}'); outline: none; cursor: pointer;" ></button>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    {% else %}
                                        <button id="btn{{optionMain.id}}" onclick="changeColor('btn{{optionMain.id}} {{optionMain.title}}')" style="color: white; border: 2px solid black;" class="navbar-toggler" id="{{optionMain.id}}">{{ optionMain }}</button>
                                        {% for option in options %}
                                            <button id="btn{{option.id}}" onclick="changeColor('btn{{option.id}} {{option.title}}')" class="navbar-toggler" style="color: white;" id="{{option.id}}">{{ option }}</button>
                                        {% endfor %}
                                    {% endif %}

                                    
                                    <!-- <button style="color: white; border: 2px soloid black;" class="navbar-toggler">150 мл</button>
                                    <button class="navbar-toggler" style="color: white;">170 мл</button>
                                    <button class="navbar-toggler" style="color: white;">50 мл</button> -->
                                </div> 
                                
                                <!-- Avaiable -->
                                <!-- <p class="avaibility"><i class="fa fa-circle"></i> In Stock</p> -->
                            </div>

                            <div class="short_overview my-5">
                                {% if optionMain.title|isDigit %}
                                    <div>
                                        <h5 id="color">{{optionMain.options.all.0.title}}</h5>
                                    </div>
                                {% else %}
                                    <div >
                                        <h5 style="color: white;" id="color">{{optionMain}}</h5>
                                    </div>
                                {% endif %}
                                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid quae eveniet culpa officia quidem mollitia impedit iste asperiores nisi reprehenderit consequatur, autem, nostrum pariatur enim?</p> -->
                                <p>{{ product.descriptionRU }}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <!-- <form class="cart clearfix"> -->
                                {% csrf_token %}
                                <button onclick="addToCart({{ product.id }})" id="addToCart" class="btn amado-btn">В корзину</button>
                            <!-- </form> -->

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

    <!-- ##### Footer Area Start ##### -->
    <footer class="footer_area clearfix">
        <div class="container">
            <div class="row align-items-center">
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-4">
                    <div class="single_widget_area">
                        <!-- Logo -->
                        <div class="footer-logo mr-50">
                            <a href="/"><img src="img/core-img/logo2.png" alt=""></a>
                        </div>
                        <!-- Copywrite Text -->
                        
                    </div>
                </div>
                <!-- Single Widget Area -->
                <div class="col-12 col-lg-8">
                    <div class="single_widget_area">
                        <!-- Footer Menu -->
                        <div class="footer_menu">
                            <nav class="navbar navbar-expand-lg justify-content-end">
                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#footerNavContent" aria-controls="footerNavContent" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i></button>
                                <div class="collapse navbar-collapse" id="footerNavContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" href="/">Главная</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/shop/1">Магазин</a>
                                        </li>
                                        
                                        <li class="nav-item">
                                            <a class="nav-link" href="/cart">Корзина ({{ cart.products.all|length }})</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/buy">Заказ</a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ##### Footer Area End ##### -->

    <!-- ##### jQuery (Necessary for All JavaScript Plugins) ##### -->
    <script src="{% static 'js/jquery/jquery-2.2.4.min.js'%}"></script>
    <!-- Popper js -->
    <script src="{% static 'js/popper.min.js'%}"></script>
    <!-- Bootstrap js -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>
    <!-- Plugins js -->
    <script src="{% static 'js/plugins.js'%}"></script>
    <!-- Active js -->
    <script src="{% static 'js/active.js'%}"></script>

    <script src="{% static 'js/jquery/ajax.js'%}"></script>


</body>

</html>